<div class="container">   
  <div class="row tab-auction">
    <div class="tab">
      <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'active')">Phiên đấu giá hiện tại</button>
      <button class="tablinks" onclick="openTab(event, 'finish')">Các phiên đã đấu giá</button>
    </div>
    <div id="active" class="tabcontent">
      <h3>Các phiên đang đấu giá</h3>
      <% if @active.any? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="10%">Hình ảnh</th>
              <th>Sản phẩm</th>
              <th width="10%">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @active.each do |auc| %>
              <tr>
                <td class="align-middle"><%= auc.id %></td>
                <td class="align-middle">
                  <%= link_to auction_path(auc.auction) do %>
                    <%= image_tag auc.auction.product.pictures.first.image.url, alt: auc.auction.product.name, class: "img-responsive" %>
                  <% end %>
                </td>
                <td class="align-middle">
                  <%= link_to auc.auction.product.name, auction_path(auc.auction) %>
                </td>
                <td class="align-middle"><%= show_bids_status auc.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @active %>
      <% end %>
    </div>
    <div id="finish" class="tabcontent">
      <h3>Các phiên đã đấu giá</h3>
      <% if @finished.any? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="15%">Hình ảnh</th>
              <th>Sản phẩm</th>
              <th width="10%">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <% @finished.each do |auc| %>
              <tr>
                <td class="align-middle"><%= auc.id %></td>
                <td class="align-middle">
                  <%= link_to product_path(auc.auction.product) do %>
                    <%= image_tag auc.auction.product.pictures.first.image.url, alt: auc.auction.product.name, class: "img-responsive" %>
                  <% end %>
                </td>
                <td class="align-middle">
                  <%= link_to auc.auction.product.name, product_path(auc.auction.product) %>
                </td>
                <td class="align-middle"><%= show_bids_status auc.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @finished %>
      <% end %> 
    </div>
  </div>
</div><br><br>

<script>
  $("#defaultOpen").click();  
</script>