<% provide(:page_name, 'Thống kê') %>
<% provide(:search_path, admin_products_path) %>
<div class="row">
  <%= render "admin/shared/flash_message" %>
  <%= form_tag(admin_statistics_path, method: :get) do %>
    <div class="form-inline">
      <%= label_tag(:type, "Thống kê:") %>
      <%= select_tag(:type, options_for_select(select_type), { include_blank: true, class: "form-control", required: true }) %>
      <%= label_tag(:start_at, "Ngày bắt đầu") %>
      <%= date_field_tag(:start_at, "", required: true, class: "form-control") %>
      <%= label_tag(:start_at, "Ngày kết thúc") %>
      <%= date_field_tag(:end_at, "", required: true, class: "form-control") %>
      <%= submit_tag 'Tìm kiếm', class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<hr>
<% if @data.any? %>
  <div class="row">
    <h2>Số lượng <%= type_description(params[:type]) %> từ ngày <%= params[:start_at] %> đến ngày <%= params[:end_at] %><span class="pull-right">Tổng số: <%= @count %></span></h2> 
    <table class="table">
      <tbody>
        <%= render @data %>
      </tbody>
    </table>
    <%= will_paginate @data %>
  </div>
  <hr>
  <div class="row">
    <div id="chart" data-search="<%= params[:type] %>" data-start_at="<%= params[:start_at] %>" data-end_at="<%= params[:end_at] %>" style="height: 370px; width: 100%;"></div>
  </div>
<% end %>

<script>
  var chart_search_data = {
    initOnLoad: function() {
      chart_search_data.request_orders();
    },
    set_data_chart: function(response) {
      var data_chart = []
      if(response !== undefined) {
        response.forEach(element => {
          data_chart.push({ x: new Date(element[0]), y: element[1]});     
        });
      }
      var chart = new CanvasJS.Chart("chart", {
        animationEnabled: true,
        title: {
          fontFamily: "Arial",
          text: "Bảng thống kê"
        },
        axisX: {
          title: "Thời gian"
        },
        axisY: {
          title: "Số lượng",
        },
        data: [{
          type: "line",
          name: "Tài khoản",
          connectNullData: true,
          //nullDataLineDashType: "solid",
          xValueType: "dateTime",
          xValueFormatString: "DD MM",
          yValueFormatString: "#",
          dataPoints: data_chart
        }]
      });
      chart.render();
    },
    request_orders: function(){
      var obj = $('#chart').data('search');
      var start_at = $('#chart').data('start_at');
      var end_at = $('#chart').data('end_at');
      $.ajax({
        url: '/admin/chart',
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'JSON',
        data: {obj: obj, start_at: start_at, end_at: end_at},
        success: function (response) {
          chart_search_data.set_data_chart(response);
        },
        error: function (err) {
        }
      });
    }
  }
  chart_search_data.initOnLoad();
</script>
