<tr>
  <td class="align-middle"><%= auction.id %></td>
  <td class="align-middle"><%= auction.start_at.strftime("%X") %></td>
  <td class="align-middle"><%= auction.end_at.strftime("%X") %></td>
  <td class="align-middle"><%= auction.period.strftime("%X") %></td>
  <td class="align-middle"><%= auction.bid_step %></td>
  <td class="align-middle"><%= show_status(auction) %></td>
  <td class="align-middle">
    <%= link_to edit_admin_product_auction_path(auction.product_id, auction.id), class: "btn btn-warning" do %>
      <%= content_tag(:i, "", class: "fa fa-edit fa-fw", title: "Cập nhập thông tin đấu giá") %>
    <% end %>
    <%= link_to admin_product_auction_path(auction.product_id, auction.id), data: { confirm: "Bạn chắc chắn muốn xóa thông tin đấu giá?" }, method: :delete, class: "btn btn-danger" do %>
      <%= content_tag(:i, "", class: "fa fa-trash fa-fw", title: "Xóa thông tin đấu giá") %>
    <% end %>
  </td>
</tr>
