<%= form_for [:admin,@product,@auction] do |f| %>
  <div class="form-group">
    <%= f.label :start_at, "Thời gian mở đấu giá" %>
    <br>
    <%= f.time_select :start_at, { include_seconds: true, default: {hour: '00', minute: '00', second: '00'} }, { class: 'form-control-static' } %>
  </div>
  <div class="form-group">
    <%= f.label :end, "Thời gian kết thúc đấu giá" %>
    <br>
    <%= f.time_select :end_at, { include_seconds: true, default: {hour: '00', minute: '00', second: '00'} }, { class: 'form-control-static' } %>
  </div>
  <div class="form-group">
    <%= f.label :period, "Thời gian đấu giá" %>
    <br>
    <%= f.time_select :period, { include_seconds: true, default: {hour: '00', minute: '00', second: '00'} }, { class: 'form-control-static' } %>
  </div>
  <div class="form-group">
    <%= f.label :bid_step, "Bước nhảy" %>
    <%= f.number_field :bid_step, min: 1000, step: 1000, value: 1000, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status, "Trạng thái" %>
    <%= f.select(:status, options_for_select([["Đóng", 0],["Mở", 1]], selected: @auction.status), {}, class: 'form-control' ) %>
  </div>
  <%= f.submit "Xác nhận", class: 'btn btn-success' %>
  <%= f.submit "Nhập lại", class: 'btn btn-warning', type: 'reset' %>
<% end %>
