<tr>
  <td class="align-middle"><%= product.id %></td>
  <td class="align-middle"><%= image_tag(product.pictures.first.image.url, class: "img-responsive") if product.pictures.any? %></td>
  <td class="align-middle"><%= link_to product.name, admin_product_path(product.id) %></td>
  <td class="align-middle"><%= product.category.name if !product.category.nil? %></td>
  <td class="align-middle"><%= product.quantity %></td>
  <td class="align-middle"><%= product.price %></td>
  <td class="align-middle">
    <%= link_to admin_product_auctions_path(product.id), class: "btn btn-primary" do %>
      <%= content_tag(:i, "", class: "fa fa-clock-o fa-fw", title: "Thêm phiên đấu giá") %>
    <% end %>
    <%= link_to edit_admin_product_path(product.id), class: "btn btn-warning" do %>
      <%= content_tag(:i, "", class: "fa fa-edit fa-fw", title: "Cập nhập sản phẩm") %>
    <% end %>
    <%= link_to admin_product_path(product.id), data: { confirm: "Bạn chắc chắn muốn xóa sản phẩm này?" }, method: :delete, class: "btn btn-danger" do %>
      <%= content_tag(:i, "", class: "fa fa-trash fa-fw", title: "Xóa sản phẩm") %>
    <% end %>
  </td>
</tr>
