<% provide(:page_name, @product.name ) %>
<% provide(:search_path, admin_products_path) %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <div>
            <span>Tên sản phẩm: </span> <%= @product.name %>
          </div>
          <div>
            <span>Tên danh mục: </span> <%= @product.category.name %>
          </div>
          <div>
            <span>Số lượng: </span> <%= @product.quantity %>
          </div>
          <div>
            <span>Giá: </span> <%= @product.price %>
          </div>
        </div>
        <div class="col-md-9">
          <%= render partial: "picture", collection: @product.pictures %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div><p>Mô tả: </p><%= @product.description %></div>
        <br>
        <div><p>Chi tiết</p><%= @product.detail %></div>
      </div>
    </div>
  </div>
</div>
