<% provide(:page_name, @product.name ) %>
<% provide(:search_path, admin_products_path) %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <div>
            <h4><strong>Tên sản phẩm: </strong> <%= @product.name %></h4>
          </div>
          <div>
            <h4><strong>Tên danh mục: </strong> <%= @product.category.name %></h4>
          </div>
          <div>
            <h4><strong>Số lượng: </strong> <%= @product.quantity %></h4>
          </div>
          <div>
            <h4><strong>Giá: </strong> <%= @product.price %></h4>
          </div>
        </div>
        <div class="col-lg-9">
          <%= render partial: "picture", collection: @product.pictures %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4><strong>Mô tả:</strong> </h4><%= @product.description.html_safe %>
        </div>
        <div class="col-lg-12">
          <h4><strong>Chi tiết:</strong></h4><%= @product.detail.html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>
