<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <%= render 'admin/shared/simple_search_form' %>
      </li>
      <li>
        <%= link_to admin_root_path do %>
          <%= content_tag(:i, "", class: "fa fa-dashboard fa-fw") %>
          Trang chủ
        <% end %>
      </li>
       <li>
        <%= link_to admin_users_path do %>
          <%= content_tag(:i, "", class: "fa fa-users fa-fw") %>
          Tài Khoản
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path do %>
          <%= content_tag(:i, "", class: "fa fa-tags fa-fw") %>
          Danh mục
        <% end %>
      </li>
      <li>
        <%= link_to admin_products_path do %>
          <%= content_tag(:i, "", class: "fa fa-product-hunt fa-fw") %>
          Sản phẩm
        <% end %>
      </li>
    </ul>
  </div>
</div>
  