<tr>
  <td class="align-middle">
    <%= link_to product_path(line_item.product) do %>
      <%= image_tag line_item.product.pictures.first.image.url, alt: line_item.product.name, class: "img-responsive" %>
    <% end %>
  </td>
  <td class="align-middle"><%= link_to line_item.product.name, product_path(line_item.product) %></td>
  <td class="align-middle"><%= line_item.amount %></td>
  <td class="align-middle">
    <%= link_to line_item_path(line_item.id), method: :delete, data: { confirm: "Xóa sản phẩm này khỏi giỏ hàng?" }, class: "btn btn-danger" do %>
      <%= content_tag(:i, "", class: "glyphicon glyphicon-trash") %>
    <% end %>
  </td>
</tr>
